<div class="container">
    <h3>Create an Account or Sign In</h3>
    <p>Login or Sign Up to Add or Edit!</p>
    <br/>
    <div class = "d-flex justify-content-between">
        <div class = "col border border-dark m-3 p-4">
            <h4>Register</h4>
            <partial name="RegistrationPartial"/>
        </div>
        <div class = "col border border-dark m-3 p-4">
            <h4>Login</h4>
            <partial name="LoginPartial"/>
        </div>
    </div>
</div>